@import "../../styles/variables.scss";

.chip {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 5px 10px;
  border-radius: 5px;

  background-color: $background-2;
  color: $accent;
}
